<div class="top">
  <h3>自己資金10万円で中古マンションを購入したいが、現在の販売中物件に希望が無い方</h3>
  <h3>物件探しを行っているが中々希望の物件が見つからない方</h3>
  <h3>中古マンションを購入して自分の希望のリフォームをしたい方</h3>
  <h1>是非、ご希望条件を登録してください!!</h1>
  <p>こちらは、メールマガジンとは別でご登録頂きましたお客様の物件を探してご連絡致します</p>
  <p>ウイングには、仲介業者様からの紹介や一般売主様からの売却相談が毎日多数寄せられております</p>
  <p>しかしながら、弊社の在庫販売物件として購入する為には色々と経費もかかる為、金額合意が出来ないケースも御座います</p>
  <p>そういった物件の中にご登録頂いている方の希望に合うものがあれば、ご紹介させて頂きます</p>
  <p>そのうえで、弊社で一度買取りをして、リフォームをしてから販売させて頂く事も可能です</p>
  <p>この場合は、弊社販売中物件と同じように自己資金10万円で購入して頂く事が出来ます</p>
  <p>また、リフォームの際に弊社標準仕様リフォームプランと、希望リノベーションプランをお選び頂く事が出来ます</p>
  <p>希望リフォームプランでは、標準仕様リフォームプランより高額となりますが、間取りや設備など</p>
  <p>ご自分のライフスタイルに合わせてお決め頂く事が可能です</p>
  <p>詳細については<%= link_to "希望リノベーションプラン", renovation_path %>のページをご覧ください</p>
  <p style="font-size: 2em; font-weight: bold; margin-top: 30px;"><<ご希望を登録して頂くにあたって>></p>
  <p>ご登録頂く際に、一般公開するかを選択出来ます</p>
  <p>一般公開した場合、希望条件がこちらのサイトに公開されます</p>
  <p>このページは仲介業者様や、物件売却を考えられている方も多く見られていますので、可能であれば公開してください</p>
  
  <h3>マンションのご売却をお考えの方、物件のご紹介を頂く方へ</h3>
  <p>公開されている情報一覧は、弊社にてリクエストを頂いているお客様の一部です</p>
  <p>大勢のお客様が、常に物件情報を待っている状態です</p>
  <h1>是非ご連絡ください!!</h1>
</div>